#root {
  max-width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: #d41414;
}

.card:hover {
  transform: scale(1.05);
}

.read-the-docs {
  color: #888;
}


